.workspaces
  margin: 4px 0
  font-size: 14px
  padding: 4px 6px
  background: $bg-color
  border-radius: 0.75rem

  .workspace-button
    color: $magenta
    font-weight: bold
    transition: all 0.3s ease-in-out

    &:hover
      color: $hover-fg
      background: $hover
      border-radius: 1rem

    &.occupied
      color: $accent-fg
      background: $magenta

      &:hover
        border-radius: 1rem
        background: #f5f5f5

      &.occupied-left
        border-top-left-radius: 1rem
        border-bottom-left-radius: 1rem

      &.occupied-right
        border-top-right-radius: 1rem
        border-bottom-right-radius: 1rem
      
    &:not(.occupied)
      border-radius: 1.5rem
      
    &.active
      .button-label
        background: $blue
        color: $accent-fg
        font-weight: bold
        border-radius: 1rem
        transition: all 0.3s ease-in-out

    .button-label
      min-width: 1.65rem
