.spacing-h-5
  >*
    margin-right: 0.341rem
    &:last-child
      margin-right: 0rem
  >widget>*
    margin-right: 0.341rem
    &:last-child>*
      margin-right: 0rem
  revealer>*
    margin-right: 0.341rem
    &:last-child>* 
      margin-right: 0rem

.spacing-h-10 
  > * 
    margin-right: 0.682rem
    &:last-child
      margin-right: 0rem

  >revealer
    >*
      margin-right: 0.682rem
    &:last-child>*
      margin-right: 0rem

  >flowboxchild
    >*
      margin-right: 0.682rem
    &:last-child>*
      margin-right: 0rem

.spacing-v-10
  >*
    margin-bottom: 0.682rem
    &:last-child
      margin-bottom: 0rem

.spacing-v-15 
  > *
    margin-bottom: 1.023rem
    &:last-child
      margin-bottom: 0rem

.spacing-h-15 
  > * 
    margin-right: 1.023rem
    &:last-child
      margin-right: 0rem

.spacing-v-5 > box
  margin-bottom: 0.341rem

.spacing-v-5 > box:last-child
  margin-bottom: 0

.spacing-v-5 > *
  margin-bottom: 0.341rem

.spacing-v-5 > *:last-child
  margin-bottom: 0

.spacing-v-5-revealer > revealer > *
  margin-bottom: 0.341rem

.spacing-v-5-revealer > revealer:last-child > *
  margin-bottom: 0

.spacing-v-5-revealer > scrolledwindow > *
  margin-bottom: 0.341rem

.spacing-v-5-revealer > scrolledwindow:last-child > *
  margin-bottom: 0

.spacing-h-20
  >*
    margin-right: 1.364rem
    &:last-child
      margin-right: 0

.spacing-v-20
  >*
    margin-bottom: 1.364rem
    &:last-child
      margin-bottom: 0


.txt-title
  // @include titlefont
  font-size: 2.045rem

.txt-title-small
  // @include titlefont
  font-size: 1.364rem

.txt-shadow
  margin: 10px
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.69)

.txt-badonkers
  // @include mainfont
  font-size: 3rem

.txt-tiddies
  // @include mainfont
  font-size: 2.7273rem

.txt-hugerass
  // @include mainfont
  font-size: 2.045rem

.txt-hugeass
  // @include mainfont
  font-size: 1.8182rem

.txt-larger
  // @include mainfont
  font-size: 1.6363rem

.txt-large
  //16pt
  // @include mainfont
  font-size: 1.4545rem

.txt-norm
  //14pt
  // @include mainfont
  font-size: 1.2727rem

.txt-small
  //12pt
  // @include mainfont
  font-size: 1.0909rem

.txt-smallie
  //11pt
  font-size: 1rem
  // @include mainfont

.txt-smaller
  //10pt
  // @include mainfont
  font-size: 0.9091rem

.txt-tiny
  // @include mainfont;
  font-size: 0.7273rem


.txt-poof
  font-size: 0

// .txt-subtext
//   @include subtext

// .txt-action
//   @include actiontext

.txt-semibold
  font-weight: 500

.txt-bold
  font-weight: bold

.txt-italic
  font-style: italic

// .titlefont
//   @include titlefont

// .mainfont
//   @include mainfont

// .icon-material
//   @include icon-material
