window#dashboard .weather
  .current-condition
    .details
      padding: 0 $padding
      label
        font-size: 1.15rem
        padding: calc($padding * 0.75)
    label
      font-weight: 500
    .region
      font-size: 1.5em
    image
      font-size: 4rem
      padding: $padding
      + label
        font-size: 2rem
        font-weight: 600

  .forecast
    label
      font-weight: 500
    .title
      *
        font-size: 0.9em
      .date
        font-size: 1.15em
      margin: 0 calc($spacing * 1.5) calc($spacing * 0.5)
    &:first-child
      label:first-child
        font-size: 1.15em
      button
        padding: 0 $padding
    button
      @include button
      border-radius: 0
      background-color: transparent
      border-right: 1px solid transparentize($fg, 0.75)
      padding: calc($padding * 0.25) calc($padding * 1.5)
    label
      font-size: 1em
      margin-bottom: calc($spacing * 0.5)
      &:first-child
        font-size: 1.15em
    image
      font-size: 2.25em
      margin-bottom: calc($spacing * 0.5)
