window.sideleft .ai-tools
  min-width: 400px
  min-height: 700px
  padding: $padding
  .tab-buttons
    padding: $padding
    font-size: 1.15em
    border-bottom: 1px solid transparentize($fg, 0.75)
    image
      margin: 0 calc($spacing * 0.5)

  .chat-message
    padding: $padding calc($padding * 4)
    border-bottom: 1px solid transparentize($fg, 0.75)
    &:last-child
      border-bottom: 0
    label
      font-size: 1.15em
      margin-bottom: $spacing
    .chat-name
      font-size: 1.25em
      margin: $spacing 0
      border-radius: $radius
      background-color: $primary-fg
      padding: $padding calc($padding * 2)

  .chat-codeblock
    background-color: $bg
    border-radius: $radius
    border: 1px solid transparentize($fg, 0.75)
    .topbar
      margin-bottom: $spacing
      border-top-left-radius: $radius
      border-top-right-radius: $radius
      padding: $padding calc($padding * 2)
      border-bottom: 1px solid transparentize($fg, 0.75)
      label
        all: unset
        font-weight: 600
        font-size: 1.25em
        margin-left: $spacing
      button
        @include button
        margin-right: calc($spacing * 0.5)
        border-radius: calc($radius * 0.5)
        padding: $padding calc($padding * 1.5)
        label
          all: unset
    .code
      padding: calc($padding * 2)

  .chat-textarea
    margin-top: $spacing
    margin-bottom: $spacing
    margin-left: calc($spacing * 1.25)
    *
      background-color: transparent
    .chat-entry
      color: $fg
      border-radius: $radius
      padding: calc($padding * 3)
      background-color: transparentize($bg, 0.5)
    .chat-send
      border-radius: calc($radius * 0.5)
      image
        padding: $padding
        font-size: 1.25em
    .chat-placeholder
      color: $fg
      margin-left: calc($spacing * 1.5)

  .welcome-logo
    font-size: 4em
    margin: calc($spacing * 2)

  button
    @include button
    padding: $padding
    margin: calc($spacing * 0.5)
    label
      font-size: 1.15em
      margin-left: calc($spacing * 0.5)
