window.sideright .quicksettings
  min-height: 500px
  @include floating_widget
  .control-buttons
    padding: calc($padding * 2.5)
  button
    border-radius: calc($radius * 0.5)
    image 
      font-size: 1.15em
  button.active
    background-color: $primary-fg
