window.sideright 
  .quicksettings
    min-height: 500px
    @include floating_widget
    .profile
      padding: calc($padding * 3.5)
      .avatar
        border-radius: $radius
        background: $primary-bg
        border: $border-width solid $primary-bg
      .clock-box
        margin: 0 $spacing
        .clock
          font-size: 3em
          color: $primary-bg

    .control-buttons
      margin-bottom: $spacing
      padding: calc($padding * 2.5)
      border-bottom: 1px solid transparentize($fg, 0.75)
    button
      margin-left: calc($spacing * 0.5)
      border-radius: calc($radius * 0.5)
      background-color: transparentize($fg, 0.90)
      image 
        font-size: 1.15em
      .arrow-icon
        font-size: 1em

    .notifications
      .header
        margin-right: $spacing
        margin-bottom: $spacing

        > label
          font-size: 1.15em
          margin-left: calc($radius * 0.5)

        button
          @include button
          padding: calc($padding * 0.7) $padding

      .notification-scrollable
          @include scrollable($top: true, $bottom: true)

      .notification-list
        margin-right: $spacing

      .notification
        @include notification
        @include widget
        padding: $padding
        margin-bottom: $spacing

      .placeholder
        image
          font-size: 7em
        label
          font-size: 1.2em
