window#overview
  background-color: transparentize($bg, 0.25)
  border-top: 1px solid transparentize($primary-bg, 0.75)
  .overview
    label
      font-size: 2rem
      font-weight: 500
      color: transparentize($fg, 0.75)
    padding: calc($padding * 2)
    .workspace
      margin: 0 calc($spacing * 1.5)
      &.active > widget
        border-color: $primary-bg
      > widget
        @include widget
        border-radius: $radius
        &:hover
          background-color: $hover-bg
        &:drop(active)
          border-color: $primary-bg

    .client
      @include button
      margin: $padding
      border-radius: $radius
      &.hidden
        @include hidden
        transition: 0
