@import 'battery'
@import 'workspaces'

$bar-spacing: calc($spacing * 0.3)

@mixin panel-button($flat: true, $reactive: true)
  @include accs-button($flat, $reactive)
  > *
    margin: $bar-spacing
    border-radius: $radius
  label, image
    font-weight: bold
  > *
    padding: calc($padding * 0.4) calc($padding * 0.8)

.bar
  background-color: $bg
  .panel-button
    @include panel-button
    &:not(.flat)
      @include accs-button($flat: false)
  .launcher
    .colored
      color: transparentize($primary-bg, 0.2)
    &:hover .colored
      color: $primary-bg
    &:active .colored, &.active .colored
      color: $primary-fg
  .battery-bar
    @include bar-battery
  .workspaces
    @include bar-workspaces
  .media label
    margin: 0 calc($spacing * 0.5)
