.topbar
  label
    font-weight: bold
  .side-items
    @include floating-widget
    margin: 0 calc($spacing * 1.25)
    border: 1px solid transparentize($primary-bg, 0.5)
    margin-top: calc($spacing * 0.5 * $hyprland-gaps-multiplier)

    .bar-button
      padding: 0 $padding
      border-radius: $radius
      &:hover, &:active, &.on, &.active, &:checked
        label, image
          color: $primary-bg
      .battery
        &.error
          color: #C76598
        &.charging
          color: #58D9BD

    .launcher-button
      padding: 0
      label
        font-size: 1.25em
    .power-button
      padding: 0 calc($padding * 0.5)
      label
        font-size: 0.9em

    &:first-child // Left
      .bar-button:first-child
        margin-left: calc($spacing * 0.5)
      separator
        margin-left: calc($spacing * 0.5)
    &:last-child // right
      .bar-button:last-child
        margin-right: calc($spacing * 0.5)
      separator
        margin-right: calc($spacing * 0.5)

menu
  background-color: $bg
  border-radius: calc($radius * 0.5)
  menuitem
    padding: calc($padding * 1.25) calc($padding * 2)
    border-bottom: 1px solid transparentize($fg, 0.75)
    label, image
      color: $fg
      font-weight: bold
    &:hover
      background: $primary-bg
      label
        color: $bg
    &:first-child
      border-top-left-radius: calc($radius * 0.5)
      border-top-right-radius: calc($radius * 0.5)
    &:last-child
      border: 0
      border-bottom-left-radius: calc($radius * 0.5)
      border-bottom-right-radius: calc($radius * 0.5)
