.topbar
  background-color: transparentize($bg, 0.5)
  .side-items
    padding: 0 calc($padding * 2)
  .workspace-client
    margin-right: calc($spacing * 0.5)
  label, image
    color: $fg
    font-weight: 500
  .bar-button
    border-radius: $radius
    margin: 0 calc($spacing * 0.5)
    &:hover, &:active, &.on, &.active, &:checked
      label, image
        color: $primary-bg
    &.launcher-button
      padding-right: 0
      padding-left: 0.25rem
      label
        font-size: 1.25rem
    .battery
      &.error
        color: #C76598
      &.charging
        color: #58D9BD
    &:last-child
      padding: 0 $padding

  .control-button image:nth-child(2)
    margin: 0 0.75rem

  separator
    padding: 1px
    margin: $spacing calc($spacing * 0.5)
    background-color: transparentize($primary-bg, 0.75)
