// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

@use 'sass:color';

$radius: 16px;

@mixin button {
  border: 0;
  padding: 0 4px;
  font-weight: bold;
  background-color: transparent;
  &:hover { label, image { color: cyan } }
}

window.bar {
  color: #{$theme_bg_color};

  .side-items {
    padding: 0.5rem;
    margin-top: 2px;
    border-radius: $radius;
    background: color.adjust(black, $alpha: -0.25);
    &:first-child { margin-left: 4px }
    &:last-child { margin-right: 4px }

    button {
      @include button;
      &.workspace-button, &.client-button { padding: 0 }
    }
    .button-revealer button { @include button }
  }

  .indicator {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    border-top: 0;
    padding: 0.5rem 1rem;
    background-color: black;
    &.hidden { border: 0; background-color: transparent; }

    .progress {
      color: white;
      min-width: 24px;
      min-height: 24px;
      font-size: 0.15rem;
      background-color: gray;
      .icon { font-size: 1.1rem }
      + label { color: white; margin-left: 8px }
      &.limit {
        color: transparent;
        background-color: transparent;
        .icon, + label { color: red }
      }
    }
  }
}
