$border: 1px solid transparentize($fg, 0.75)

window#dashboard
  background-color: transparentize($bg, 0.25)
  .bio
    margin-top: 8px
    margin-left: 100px
    font-weight: 500
    font-size: 1.15rem
    color: transparentize($fg, 0.25)
  .page
    margin: 1rem 100px
