window#dashboard
  background-color: transparentize($bg, 0.25)
  .dashboard .main
    min-width: 720px
    .bio
      margin-top: 8px
      margin-left: 100px
      font-weight: 500
      font-size: 1.15rem
      color: transparentize($fg, 0.25)
    .content
      margin: 0 100px
      margin-top: 20px
      padding: $padding
      border-top: 1px solid transparentize($fg, 0.5)
