window.sideright .calendar
  .header
    margin-top: 0.8rem
    .date
      label
        min-width: 20rem
        font-size: 1.5em
      &:hover label
        color: $primary-bg
    .monthshift-btn
      label
        font-size: 1em
      &:hover label
        color: $primary-bg
  .weekdays
    font-weight: 600
    margin: 0.5rem 1rem
  .calendar-btn
    min-width: 2.5rem
    min-height: 2.5rem
    margin: 0.15rem 0.5rem
    label
      font-size: 1.15em
    &-today
      font-weight: bold
      color: $primary-bg
      border: 1px solid $primary-bg
    &-othermonth
      opacity: 0.5
