$border: 1px solid transparentize($fg, 0.75)

window#dashboard .dashboard .content
  .home .section .apps
    button
      &:hover
        color: $primary-bg
      label
        font-weight: 500
        font-size: 1.25rem
      image
        font-size: 4rem
      box
        padding: 0.5rem 1rem
        border-left: $border
