.quicksettings
  margin: 4px
  padding: 1rem
  min-width: 25rem
  background: $bg-color
  border-radius: $radii
  box-shadow: 0 2px 3px black
  transition: 300ms cubic-bezier(0.1, 1, 0, 1)

  .qs-stack-buttons
    margin-bottom: 8px
    background: $hover
    border-radius: calc($radii * 2)

  .qs-icon-button
    color: $fg-color
    min-width: 2.727rem
    min-height: 2.727rem
    border-radius: calc($radii * 2)
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover
      background: $hover
    &:focus
      background: $accent

  .sidebar-navrail-btn
    > box > label
      border-radius: calc($radii * 2)
      transition: 300ms cubic-bezier(0.1, 1, 0, 1)

    &:hover > box > label:first-child, &:focus > box > label:first-child
      background: $hover

    &:active > box > label:first-child
      background: $accent

  .sidebar-navrail-btn-active > box > label:first-child
    color: $fg-color
    background: $bg-color

    &:hover > box > label:first-child, &:focus > box > label:first-child
      color: $fg-color
      background: $bg-color

  .qs-scrollbar
    trough
      min-width: 0.545rem
      background: transparent
      border-radius: calc($radii * 2)

    slider
      min-width: 0.273rem
      min-height: 2.045rem
      background: $bg-color
      border-radius: calc($radii * 2)
      &:hover, &:focus
        background: $bg-color
      &:active
        background: $bg-color

  .qs-calendar-btn
    color: $fg-color
    min-width: 2.523rem
    min-height: 2.523rem
    border-radius: calc($radii * 2)
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .qs-calendar-btn-txt
    margin-left: -10.341rem
    margin-right: -10.341rem

  .qs-calendar-btn-today
    color: $fg-color
    background: $bg-color
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .qs-calendar-btn-othermonth
    color: $fg-color

  .qs-calendar-header
    margin: 0.341rem

  .qs-calendar-monthyear-btn
    padding: 0 0.682rem
    color: $fg-color
    background: $bg-color
    border-radius: calc($radii * 2)

    &:hover, &:focus
      color: $hover
      background: $bg-color

    &:active
      color: $accent
      background: $bg-color

  .qs-calendar-monthshift-btn
    color: $fg-color
    min-width: 2.045rem
    min-height: 2.045rem
    background: $bg-color
    border-radius: calc($radii * 2)
    &:hover
      color: $hover
      background: $bg-color
    &:active
      color: $accent
      background: $bg-color

  .qs-selector-tab
    color: $fg-color
    min-height: 2.5rem
    border-radius: $radii
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .qs-selector-tab-active > box > label
    color: $accent

  .sidebar-selector-highlight-offset
    margin-top: -0.205rem
    margin-bottom: 0.205rem

  .sidebar-selector-highlight
    color: $accent
    min-height: 0.205rem
    transition: 180ms ease-in-out

  .sidebar-todo-item
    padding-right: 0.545rem

  .sidebar-todo-item-even
    background: $bg-color

  .sidebar-todo-item-action
    min-width: 1.705rem
    min-height: 1.705rem
    border-radius: calc($radii * 2)

  .qs-todo-item-action
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .qs-todo-crosser
    min-width: 0
    transition: margin 200ms cubic-bezier(0.1, 1, 0, 1), background-color 0ms

  .qs-todo-crosser-crossed
    background: $bg-color

  .qs-todo-crosser-removed
    background: $red

  .qs-todo-new
    color: $fg-color
    margin: 0.341rem
    padding: 0.205rem 0.545rem
    border-radius: calc($radii * 2)
    border: 0.068rem solid $_border-color
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .sidebar-todo-add
    color: $fg-color
    min-width: 1.705rem
    min-height: 1.705rem
    border-radius: $radii
    border: 0.068rem solid $_border-color
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .qs-todo-add-available
    color: $fg-color
    min-width: 1.705rem
    min-height: 1.705rem
    background: $bg-color
    border-radius: $radii
    border: 0.068rem solid $_border-color
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover, &:focus
      background: $bg-color
    &:active
      background: $bg-color

  .qs-todo-entry
    min-width: 0
    color: $fg-color
    caret-color: $accent
    background: $bg-color
    border-radius: $radii
    min-height: 1.773rem
    margin: 0rem 0.341rem
    padding: 0.205rem 0.682rem
    border: 0.068rem solid $_border-color
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)

  .qs-todo-entry:focus
    border: 0.068rem solid $_border-color

  .sidebar-chat-apiswitcher
    background: $bg-color
    border-radius: calc($radii * 2)

  .sidebar-chat-apiswitcher-icon
    color: $fg-color
    min-width:  2.182rem
    min-height: 2.182rem
    border-radius: calc($radii * 2)
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)

  .sidebar-chat-apiswitcher-icon-enabled
    color: $fg-color
    background: $bg-color

  .sidebar-chat-viewport
    padding: 0.682rem 0
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)

  .sidebar-chat-textarea
    padding: 0.682rem
    border-radius: $radii
    border: 0.068rem solid $fg-color

  .sidebar-chat-entry
    color: $fg-color
    caret-color: $bg-color
    min-height: 1.773rem
    min-width: 0

  .sidebar-chat-send
    min-width: 1.705rem
    min-height: 1.705rem
    background: $bg-color
    border-radius: $radii
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .sidebar-chat-send-available
    background: $accent
    color: $accent
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .sidebar-chat-message
    margin: 0.682rem

  .sidebar-chat-indicator
    min-width: 0.136rem
    border-radius: calc($radii * 2)

  .sidebar-chat-indicator-user
    background: $bg-color

  .sidebar-chat-indicator-bot
    background: $bg-color

  .sidebar-chat-indicator-System
    background: $bg-color

  .sidebar-chat-name
    // @include titlefont
    padding: 0.341rem
    margin-left: -0.136rem
    padding: 0.341rem
    padding-left: 0.818rem

  .sidebar-chat-txtblock
    padding: 0.341rem
    padding-left: 0.818rem
    margin-left: -0.136rem

  .sidebar-chat-txt
    // @include readingfont

  .sidebar-chat-codeblock
    color: $fg-color
    background: $bg-color
    border-radius: $radii
    margin: 0rem 0.682rem
    border: 0.068rem solid $_border-color

  .sidebar-chat-codeblock-topbar
    // @include mainfont
    margin: 0.273rem
    margin-bottom: 0
    color: $fg-color
    background: $bg-color
    border-radius: $radii
    padding: 0.341rem 0.477rem
    border: 0.068rem solid $_border-color

  .sidebar-chat-codeblock-topbar-txt
    padding: 0.273rem
    border-radius: calc($radii * 2)

  .sidebar-chat-codeblock-topbar-btn
    padding: 0.273rem
    border-radius: calc($radii * 2)
    &:hover, &:focus
      background: $hover
    &:active
      background: $accent

  .sidebar-chat-codeblock-code
    // @include techfont
    padding: 0.682rem

  .sidebar-chat-divider
    min-height: 1px
    margin: 0 0.545rem
    background: $fg-color

  .sidebar-chat-welcome-txt
    margin: 0 3.409rem

  .sidebar-chat-settings-toggles
    margin: 0 5.455rem

  .sidebar-chat-welcome-icon
    font-size: 4rem
    border-radius: calc($radii * 2)

  .sidebar-chat-welcome-logo
    color: black
    font-size: 4rem
    background: white
    min-width: 4.773rem
    min-height: 4.773rem
    border-radius: calc($radii * 2)
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)

  .sidebar-chat-chip
    padding: 0.341rem 0.477rem
    border-radius: calc($radii * 0.75)
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)

  .sidebar-chat-chip-action
    border: 0.068rem solid $fg-color
    &:hover, &:focus
      background: $bg-color
    &:active
      color: $fg-color
      background: $bg-color

  .sidebar-chat-chip-action-active
    color: $fg-color
    border: 0.068rem solid $bg-color
