@import media

.quicksettings
  @include floating-widget

  .header
    @include floating-widget
    label
      margin: 0 8px

    .avatar
      border-radius: $radii
      background-size: cover

  .icon-button
    min-width: 3rem
    min-height: 3rem
    color: $fg-color
    border-radius: $radii
    transition: 300ms cubic-bezier(0.1, 1, 0, 1)
    &:hover
      background: $hover
    &:focus
      background: $accent


  .toggle-row
    margin-top: $padding
    .toggle-button
      min-width: 8rem
      @include floating-widget
      .toggle-button-icon
        font-size: 1.5rem 
      .title
        font-weight: 800
        font-size: 1.15rem
      .sub
        color: $hover
