window#dashboard .dashboard .github
  margin: 0
  border: $border
  .header
    color: $fg
    padding: 0.5rem
    font-size: 1.25rem
    border-bottom: $border
  .contrib-container
    padding: 1rem

.intensity-0 // lowest intensity
  background-color: transparentize($primary-bg, 0.9)
  min-width: 0.8rem

.intensity-1
  background-color: transparentize($primary-bg, 0.75)
  min-width: 0.8rem

.intensity-2
  background-color: transparentize($primary-bg, 0.5)
  min-width: 0.8rem

.intensity-3
  background-color: transparentize($primary-bg, 0.25)
  min-width: 0.8rem

.intensity-4
  background-color: $primary-bg
  min-width: 0.8rem
