.cheatsheet
  @include floating_widget

.cheatsheet-key
  margin: 0.17rem
  font-weight: 700
  color: $bg-color
  background: $fg-color
  min-width: 1.364rem
  min-height: 1.364rem
  padding: 0.136rem 0.205rem

.cheatsheet-key-notkey
  margin: 0.17rem
  min-height: 1.364rem
  padding: 0.136rem 0.205rem

.cheatsheet-category-title
  color: $accent
  font-size: 1.705rem
