.indicator-container
  min-width: 10rem
  background-color: $bg-color

.osd-indicator
  padding: 1rem 0rem 1rem 1.5rem

  .osd-icon
    color: $fg-color
    font-size: 2rem
    min-width: 2rem

  .osd-value-txt
    font-weight: 500
    color: $fg-color
    font-size: 1.2rem
    min-width: 2.5rem

  .osd-progress
    border-radius: 10rem

    trough
      border-radius: 10rem
      background-color: $hover

    progress
      background: $accent
      border-radius: 10rem
