.osd-window
  padding: 1px
  min-width: 40rem
  .notification
    margin-right: 5px
    background: $bg-color

.notification-indicator 
  font-size: 1.3rem

.notification-indicator-container
  padding-right: 8px
  background: $bg-color

.notification
  padding: 5px
  margin-top: 5px
  min-width: 26.1rem
  border-radius: 1rem
  background: $bg-color
  .notification-icon
    font-size: 5rem
    min-width: 5rem
    min-height: 5rem
    margin-right: 5px
    border-radius: 1rem
    background-size: cover
    background-position: center

  .notification-title
    font-weight: bold

  .notification-close
    min-width: 1.5rem

  .notification-action-button
    margin: 5px 0
    border-radius: 1rem
    background: $bg-color

.indicator-container
  min-width: 10rem
  background: $bg-color

.osd-indicator
  padding: 1rem 0 1rem 1.5rem

  .osd-icon
    color: $fg-color
    font-size: 2rem

  .osd-value-txt
    color: $fg-color
    font-weight: 500
    font-size: 1.2rem
    min-width: 2.5rem

  .osd-progress
    border-radius: 10rem

    trough
      background: red
      border-radius: 10rem

    progress
      border-radius: 10rem
      background-color: $fg-color
