@mixin notif-rounding
  border-radius: $radii

.notif-low
  @include notif-rounding
  color: $fg-color
  background: $bg-color
  padding-right: 0.545rem

.notif-normal
  @include notif-rounding
  color: $fg-color
  background: $bg-color
  // padding: $rounding_small
  padding-right: 0.545rem

.popup-notif-low
  @include notif-rounding
  min-width: 30.682rem
  color: $fg-color
  // padding: $rounding_small
  background: $bg-color
  padding-right: 0.545rem

.popup-notif-normal
  @include notif-rounding
  min-width: 30.682rem
  color: $fg-color
  background: $bg-color
  // padding: $rounding_small
  padding-right: 0.545rem

.popup-notif-critical
  @include notif-rounding
  min-width: 30.682rem
  color: $fg-color
  background: $bg-color
  // padding: $rounding_small
  padding-right: 0.545rem

.notif-body-low
  color: $yellow

.notif-body-normal
  color: $accent

.notif-body-critical
  color: $red

.notif-icon
  min-width: 3.409rem
  min-height: 3.409rem
  border-radius: calc($radii * 2)

.notif-icon-material
  color: $fg-color
  background: $bg-color

.notif-icon-material-low
  color: $fg-color
  background: $bg-color

.notif-icon-material-normal
  color: $fg-color
  background: $bg-color

.notif-icon-material-critical
  color: $fg-color
  background: $bg-color

.notif-expand-btn
  @include notif-rounding
  min-width: 1.841rem
  min-height: 1.841rem

.notif-expand-btn:hover, .notif-expand-btn:focus
  background: $hover

.notif-expand-btn:active
  background: $accent

.notif-closeall-btn
  @include notif-rounding
  padding: 0.341rem 0.341rem

.notif-closeall-btn:hover, .notif-closeall-btn:focus
  background: $hover

.notif-closeall-btn:active
  background: $accent

.notif-circprog-low
  padding: 0
  color: $fg-color
  min-width: 0.136rem // line width
  min-height: 3.136rem
  transition: 0ms linear

.notif-circprog-normal
  padding: 0
  color: $fg-color
  min-width: 0.136rem // line width
  min-height: 3.136rem
  transition: 0ms linear

.notif-circprog-critical 
  padding: 0
  color: $fg-color
  min-width: 0.136rem // line width
  min-height: 3.136rem
  transition: 0ms linear

.notif-actions
  min-height: 2.045rem

.notif-action
  border-radius: $radii

.notif-action-low
  color: $fg-color
  background: $bg-color

.notif-action-low:focus, .notif-action-low:hover
  background: $hover

.notif-action-low:active
  background: $bg-color

.notif-action-normal
  color: $fg-color
  background: $bg-color

.notif-action-normal:focus, .notif-action-normal:hover
  background: $hover

.notif-action-normal:active
  background: $bg-color

.notif-action-critical
  color: $fg-color
  background: $red

.notif-action-critical:focus, .notif-action-critical:hover
  background: red

.notif-action-critical:active
  background: $red
