.powermenu
  @include floating-widget

.session-button
  font-size: 3rem
  min-width: 8.182rem
  min-height: 8.182rem
  color: $fg-color
  background: $hover
  border-radius: $radii

.session-button-focused
  color: $fg-color
  background: $accent

.session-button-desc
  font-weight: 700
  color: $fg-color
  background: $bg-color
  padding: 0.205rem 0.341rem
  border-bottom-left-radius: 8px
  border-bottom-right-radius: 8px
