.quicksettings
  padding: 1rem
  margin: 0.5rem
  min-width: 27rem
  min-height: 27rem
  border-radius: 1rem
  background-color: $bg-color

  .qs-page
    min-height: 10rem

  .cava
    color: $fg-color
    border-radius: 1rem

  .qs-menu
    margin: 1rem

    .qs-menu
      margin: 0
      .qs-title
        font-weight: bold

    separator
      margin: 3px 0
      background: $fg-color

  .qs-header
    margin: 8px 0
    border-radius: 1rem
    background: $bg-color

    .qs-button
      padding: 5px
      font-size: 1.2rem
      border-radius: 1rem
      min-width: 2rem
      background-color: transparent

      &.active
        background: $accent
