window.sideright .datemenu
  .current-condition
    label
      font-size: 1.15em
    image
      font-size: 6em
      padding: $padding
      + label
        font-weight: 600
        font-size: 1.5em
    label
      padding: $padding 0
    .region
      font-size: 1.25em

  .forecast
    margin-top: calc($spacing * 1.5)
    button
      @include button
      border-radius: 0
      padding: $padding calc($padding * 2)
      background-color: transparent
    label
      font-size: 1.15em
      margin-bottom: calc($spacing * 0.75)
      &:first-child
        font-weight: 500
    image
      font-size: 2.25em
      margin-bottom: $spacing
      padding: calc($padding * 2) calc($padding * 0.25)
      border-top: 1px solid transparentize($fg, 0.5)
      border-bottom: 1px solid transparentize($fg, 0.5)
