window.sideright .datemenu
  .current-condition
    @include floating_widget
    padding: $padding calc($padding * 6)
    .details
      padding: 0 $padding
    label
      font-weight: 500
    .region
      font-size: 1.75em
      margin-bottom: calc($spacing * 0.5)
    image
      font-size: 4em
      padding: $padding
      + label
        font-size: 2.5em
        font-weight: 600
    .details label
      padding: calc($padding * 0.75)

  .forecast
    label
      font-weight: 500
    .title
      *
        font-size: 0.9em
      .date
        font-size: 1.15em
      margin: 0 calc($spacing * 1.5) calc($spacing * 0.5)
    &:first-child
      label:first-child
        font-size: 1.15em
      button
        padding: 0 $padding
    button
      @include button
      border-radius: 0
      background-color: transparent
      border-left: 1px solid transparentize($fg, 0.75)
      padding: calc($padding * 0.25) calc($padding * 1.5)
      &:first-child
        border-left: 0
    label
      font-size: 1em
      margin-bottom: calc($spacing * 0.5)
      &:first-child
        font-size: 1.15em
    image
      font-size: 2.25em
      margin-bottom: calc($spacing * 0.5)
