window.top-popups .media-player
  .player
    .cover
      @if $shadows
        box-shadow: 2px 2px 2px 0 $shadow-color
      border-radius: $radius
      background-size: cover
      background-position: center
      border: 2px solid $primary-bg
      margin-right: calc($spacing * 1.5)
    button
      @include button($flat: true)
      padding: $padding
      &.play-pause
        margin: 0 $spacing
      image
        font-size: 1.25rem
    .title
      color: $fg
      font-size: 1.15rem
    .artist
      font-size: 1rem
      margin-top: 0.25rem
      color: transparentize($fg, 0.25)
    scale
      trough
        border: 0
        margin: 1rem 0
      @include slider($width: 0.25rem, $slider: false, $gradient: linear-gradient($primary-bg, $primary-bg))
