window.sideright .quicksettings 
  .stack-list .display-options
    .slider-box
      margin: $spacing
      margin-bottom: 0

    .theme-list
      margin-top: calc($spacing * 0.5)
      button
        all: unset
        min-height: 32px
        margin: calc($spacing * 0.5)
        border-radius: calc($radius * 0.25)
        label
          color: white
          font-size: 1.15em
          border-radius: calc($radius * 0.25)
          background-color: transparentize(black, 0.25)
        &:hover label
          background-color: transparent
